<!DOCTYPE html>
@using System.Data;
@using XmlCrud.App_Code;

@{
    SongMethods mySongMethods = new SongMethods();
    string file = @"~\App_Data\Playlist.xml";
    DataSet ds = mySongMethods.GetAllSongs(file);
    Session["platlistClass"] = mySongMethods;
    Session["file"] = file;
}

<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/IndexCss.css">
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <br /><br />

          <table class="tbl">
              

              @foreach (DataRow dr in ds.Tables["song"].Rows)
              {
              <table>
                  <tr class='song'>
                      <td><table><td class='songid'>@dr["id"]</td></table></td>
                      <td class='songname'>@dr["title"] - @dr["artist"]  @dr["genre"]</td>
                      <td>@dr["time"]</td>
                      <td class='songDelete'> X </td>
                  </tr>
              </table>
                  /*<tr>
                      <td>@dr["id"]</td>
                      <td>@dr["artist"]</td>
                      <td>@dr["title"]</td>
                      <td>@dr["year"]</td>
                      <td>@dr["genre"]</td>
                      <td>@dr["time"]</td>
                      <td>@dr["file"]</td>
                      <td><a href="~/Pages/DeleteSong.cshtml?id=@dr["id"]">Verwijderen</a></td>
                  </tr>*/
              }
          </table>

    <br /><br />
          <a href="Pages\CreateSong.cshtml"><button class='btnAdd'>Een nieuwe song toevoegen.</button></a>
    <h1> oe moe</h1>
</body>
</html>
